@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.MainSujeong {
  width: 100vw;
  height: 100vh;
  .icon {
    width: 2em;
    height: 2em;
    margin: 1.9em 1em;
  }
  main {
    display: flex;
    justify-content: center;
    background-color: rgb(242, 244, 246);
    padding: 2.5em;
    .feeds {
      width: 33vw;
      height: 100vh;
      border: 1px solid rgb(207, 207, 207);
      border-radius: 0.3em;
      background-color: white;
      .posting-box {
        display: flex;
        margin: 0.6em 0 0 0.5em;
      }
      .posting {
        width: 100%;
      }
      .owner-name {
        margin: 0.7em 0 1em 0.7em;
      }
      .post-owner {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .posting-icons {
        display: flex;
        justify-content: flex-end;
        margin: 0.2em 0.8em;
      }
      .posting-icon {
        width: 1.5em;
        height: 1.5em;
        margin: 0.3em;
      }
      .bookmark-icon {
        margin-left: auto;
      }
    }
    .posting-text {
      margin: 1em 1.3em 0 1.3em;
    }
    .small-font {
      font-size: 13px;
      margin: 0.5em 1.5em 3em 1.5em;
    }
    .comment-list {
      padding: 0 1.2em;
      background-color: white;
      li {
        list-style: none;
        margin-bottom: 1em;
        margin-top: 1.4em;

        .comment-content {
          margin-bottom: 1em;
        }
        .date {
          font-size: 13px;
          margin: 1em;
        }
      }
    }
    .write-commments {
      width: 100%;
      height: 60px;
      background-color: white;
      border-top: 1px solid grey;
      display: flex;
      justify-content: space-between;
      .comment-input {
        width: 100%;
        margin: 0;
        padding: 0em 0 0.5em 1em;
        background-color: transparent;
        border: transparent;
      }
      .write-btn {
        padding: 0.8em;
        width: 4em;
        border: 0px;
        margin: 0.3em 1em 1em 1em;
        color: rgb(40, 185, 242);
        background-color: white;
      }
    }
  }

  .small-font {
    font-size: 13px;
    margin-left: 1.5em;
  }

  .main-right {
    margin-left: 10px;
    width: 20vw;
    .login-user {
      display: flex;
      margin-bottom: 3%;
      .login-user-image {
        width: 60px;
        border-radius: 50%;
      }
      .login-user-name {
        font-size: 1.2em;
        font-weight: 900;
        margin: 0.8em;
      }
    }
    .story {
      border: 1px solid rgb(208, 204, 204);
      background-color: #fff;
      border-radius: 0.3em;
      padding: 1em;
      .small-title {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        margin-bottom: 0.5em;
      }
      .users {
        display: flex;
        margin-top: 0.5em;
        height: 3.5em;
        .user-avatars {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          padding: 2px;
          border: 2px solid red;
        }
        .user-name {
          margin: 0.4em 0.8em;
          .after-date {
            font-size: 14px;
            color: rgb(166, 165, 165);
            margin-top: 2px;
          }
        }
      }
    }
    .recommend {
      background-color: #fff;
      margin-top: 1em;
      border: 1px solid rgb(208, 204, 204);
      border-radius: 0.3em;
      padding: 1em;
      .users {
        display: flex;
        margin-top: 0.5em;
        height: 3.5em;
        .user-avatars {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          padding: 2px;
          border: 2px solid red;
        }
        .recommend-like {
          font-size: 13px;
          width: 140px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-break: break-all;
        }
        .user-name {
          margin: 0.4em 0.8em;
          .after-date {
            font-size: 14px;
            color: rgb(166, 165, 165);
            margin-top: 2px;
          }
        }
        .follow-btn {
          margin-left: auto;
          margin-top: 0;
          border: 0px;
          background-color: transparent;
          color: rgb(40, 185, 242);
        }
      }
    }
    .footer {
      font-size: 14px;
      padding-top: 15px;
      color: rgb(196, 196, 196);
      li {
        color: grey;
      }
    }
  }
}
